<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" />
    <title>도서 도우미</title>
</head>
<body>
<!-- Header -->
<header>
    <div>hello world</div>
</header>
<!-- End Header -->

<!-- Search Section -->
<section id="search">

</section>
<!-- End Search Section -->
<script>
    const header = document.querySelector("header");
    header.addEventListener("click", () => {
        location.href = "/";
    });
</script>
</body>
</html>
