<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/index.css" />
    <title>undefined</title>
</head>
<body>
    <!-- Header -->
    <header>
        <div id="title">undefined</div>
    </header>
    <!-- End Header -->

    <!-- Login Section -->
    <section id="login">
    </section>
    <div id="auth_btn">
        <button onclick="onClickLoginButton()">로그인</button>
        <button onclick="onClickRegisterButton()">회원가입</button>
    </div>
    <!-- End Login Section -->

    <!-- Board Section -->
    <section id="board">
    </section>
    <button onClick=>글쓰기</button>
    <div id="board-write"></div>
    <!-- End Board Section -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const header = document.querySelector("header");
        const board = document.querySelector("#board");
        const login = document.querySelector("#login");
        const authBtn = document.querySelector("#auth_btn");
        const user = {
            _id: null,
            nickname: null,
            isAuth: false,
        };

        header.addEventListener("click", () => {
            location.href = "/";
        });

        const onClickLoginButton = () => {
            login.innerHTML = `
             <form>
                <input type="text" id="login_id" placeholder="id">
                <input type="password" id="login_password" placeholder="password">
                <button type="button" onclick="onSubmitLogin()">로그인</button>
                </form>`;

            console.log("login >> ", login);
        };

        const onClickRegisterButton = () => {
            login.innerHTML = `
             <form>
                <input type="text" id="register_nickname" placeholder="nickname">
                <input type="text" id="register_id" placeholder="id">
                <input type="password" id="register_password" placeholder="password">
                <button type="button" onclick="onSubmitRegister()">회원가입</button>
            </form>`;
        };

        const onSubmitLogin = () => {
            const id = document.querySelector("#login_id").value;
            const password = document.querySelector("#login_password").value;
            console.log("login id ,password >> ", id, password);
            const payload = { id, password };
            axios
                .post("/api/user/login", payload)
                .then(({ data }) => {
                    if (data.loginSuccess) {
                        initUser(data.userId, data.nickname, true);
                        onShowLogoutButton();
                    }
                    printUserInfo();
                })
                .catch((err) => {
                    console.error(err);
                });
        };

        const onSubmitRegister = () => {
            const nickname = document.querySelector("#register_nickname").value;
            const id = document.querySelector("#register_id").value;
            const password = document.querySelector("#register_password").value;
            console.log("login nickname, id ,password >> ", nickname, id, password);
            const payload = { nickname, id, password };
            console.log("payload >> ", payload);
            axios
                .post("/api/user/register", payload)
                .then(({ data }) => {
                    console.log("data >> ", data);
                    if(data.success){
                        alert("회원가입 완료");
                        onClickLoginButton();
                    }
                })
                .catch((err) => {
                    console.error(err);
                });
        };

        const onSubmitLogout = () => {
            const payload = { _id: user._id };
            console.log("payload >> ", payload);
            axios
                .get("/api/user/logout", payload)
                .then(({ data }) => {
                    if (data.success) {
                        onClickLoginButton();
                        initUser();
                    } else {
                        console.log("logout failed...");
                    }
                    printUserInfo();
                })
                .catch((err) => {
                    console.error(err);
                });
        };

        const onClickDetailPage = (e) => {
            const target = e.querySelector("#hidden").innerText;
            console.log("target >> ", target);
            const payload = {
                _id: target,
            };

            axios
                .post("/api/board/detail", payload)
                .then(({ data }) => {
                    console.log(data);
                })
                .catch((err) => {
                    console.error(err);
                });
        };

        const onShowLogoutButton = () => {
            login.innerHTML = `
                          <h2>${user.nickname}</h2>
                          <button type="button" onclick="onSubmitLogout()">로그아웃</button>
                        `;
            authBtn.innerHTML = "";
        };

        const initUser = (id = null, nickname = null, isAuth = false) => {
            user._id = id;
            user.nickname = nickname;
            user.isAuth = isAuth;
        };

        const printUserInfo = () => {
            console.log("user >> ", user);
        };

        const init = () => {
            axios
                .post("/api/board/getAll")
                .then(({ data }) => {
                    console.log("data >> ", data);
                    let html = "<Table>";
                    data.board.map((v) => {
                        html += `
                                <tr onclick="onClickDetailPage(this)">
                                    <td id="hidden">${v._id}</td>
                                    <td class="board-title">${v.title}</td>
                                    <td>${v.createdAt}</td>
                                 </tr>
                                `;
                    });
                    html += "</Table>";
                    board.innerHTML = html;
                })
                .catch((err) => {
                    console.error(err);
                });
            axios
                .get("/api/user/auth")
                .then(({ data }) => {
                    console.log("data >> ", data);
                    if (data.isAuth) {
                        onShowLogoutButton();
                    } else {
                        initUser();
                    }
                })
                .catch((err) => {
                    console.error(err);
                });
        };

        init();

    </script>
</body>
</html>
